body {
    font-family: Roboto;
}

.main-title {
    margin-top: 0px;
}

th {
    text-align: left;
    color: #1068ec;
}

.sub-title {
    margin-top: -18px;
    color: #535353;
}

td.rate {
    text-align: right;
}

div.rate {
    margin-right: 30px;
}

.elapsed {
    font-style: italic;
    color: #727272;
    font-size: small;
}